.lupa{
    width: 2em;
    height: auto;
}

.busca{
    font-size: 25px;
    width: 21.4em;
    padding: 0.4em;
    border: 2px solid black;
    border-radius: 2px;
}

.ajuda--produtos{
    margin-left: 2em;
    font-size: 30px;
    margin-bottom: 1.5em;
}